body {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
background-image: url(../img/dangnhapdangkyquenmk.png);
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.register-container {
background: white;
padding: 25px;
border-radius: 12px; 
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
width: 400px;
border-top: 5px solid #e50914;
}

.header {
text-align: center;
margin-bottom: 20px;
}

.header h2 {
margin: 0;
font-size: 24px;
color: #1c1e21;
}

.input-group {
display: flex;
gap: 10px;
margin-bottom: 12px;
}

input[type="text"],
input[type="password"],
select {
width: 100%;
padding: 10px;
border: 1px solid #dddfe2;
border-radius: 6px;
font-size: 15px;
background-color: #f5f6f7;
box-sizing: border-box;
}

.label-text {
font-size: 13px;
color: #606770;
margin-bottom: 5px;
display: block;
}
.gender-container {
display: flex;
gap: 10px;
margin-bottom: 15px;
}

.gender-box {
flex: 1;
border: 1px solid #dddfe2;
padding: 8px;
border-radius: 6px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 15px;
}
.btn-signup {
width: 100%;
padding: 10px;
background-color: #e50914;
color: white;
border: none;
border-radius: 6px;
font-size: 18px;
font-weight: bold;
cursor: pointer;
transition: background 0.3s;
}

.btn-signup:hover {
background-color: #c40812;
}

.footer-text {
font-size: 11px;
color: #777;
margin-top: 15px;
text-align: center;
line-height: 1.4;
}

.signup-link {
display: block;
text-align: center;
margin-top: 15px;
color: #e50914;
text-decoration: none;
font-weight: 600;
}

input[type="checkbox"] {
cursor: pointer;
}

#contact-error {
  margin: 5px 0 5px;
}

#toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #22c55e;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  opacity: 0;
  transition: 0.3s;
  z-index: 999;
}
#toast.show {
  opacity: 1;
}